In [16]:
import os
import scipy.io
import pandas as pd

# Path to your directory containing .mat files
data_dir = './data/'

file_names = []
data_values = []

for file_name in os.listdir(data_dir):
    if file_name.endswith('.mat'):
        # Append file name to list
        file_names.append(file_name)
        
        # Load .mat file
        mat_data = scipy.io.loadmat(os.path.join(data_dir, file_name))
        
        # Assuming each file contains a single array of 1x9000 double values
        # Append data to list
        data_values.append(mat_data['val'].flatten())
        
df = pd.DataFrame({'File_Name': file_names, 'Data': data_values})

IndentationError: expected an indented block after 'for' statement on line 23 (2499584695.py, line 24)

In [25]:
outcome=pd.read_csv("REFERENCE-original.csv")
df['File_Name'] = df['File_Name'].str.replace('.mat', '')
df_merged = pd.merge(df, outcome, left_on='File_Name', right_on='File_Name', how='left')
df_merged

     File_Name                                               Data outcome
0       A00001  [-127, -162, -197, -229, -245, -254, -261, -26...       N
1       A00002  [128, 157, 189, 226, 250, 257, 262, 265, 268, ...       N
2       A00003  [56, 73, 85, 93, 100, 107, 113, 117, 118, 117,...       N
3       A00004  [519, 619, 723, 827, 914, 956, 955, 934, 920, ...       A
4       A00005  [-188, -239, -274, -316, -356, -374, -380, -38...       O
...        ...                                                ...     ...
8523    A08524  [-104, -127, -144, -154, -160, -164, -168, -17...       N
8524    A08525  [-121, -197, -288, -390, -496, -600, -693, -77...       O
8525    A08526  [-202, -235, -272, -305, -325, -339, -344, -34...       N
8526    A08527  [-227, -297, -374, -449, -505, -527, -539, -54...       N
8527    A08528  [-237, -286, -338, -390, -425, -437, -443, -44...       N

[8528 rows x 3 columns]